<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Matches</title>
</head>
<body>
    <h1>Summoner: {{ summoner_name }}</h1>
    <h1>Last 3 Matches</h1>
    
    <div class="matches">
        {% for match in matches %}
            <h2>Match ID: {{ match.match_id }}</h2>
            <table>
                <thead>
                    <tr>
                        {% for column in match.columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for participant in match.details %} <!-- Use 'details' instead of 'participants' -->
                        <tr>
                            {% for column in match.columns %}
                                <td>{{ participant[column] }}</td> <!-- Access values by column name -->
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</body>
</html>
