<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Matches</title>
</head>
<body>
    <h1>Summoner: {{ summoner_name }}</h1>
    <div class="matches">
        {% for match in matches %}
            <table>
                <thead>
                    <tr>
                        {% for column in match.columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for participant in match.details %}
                        <tr class="{{ 'winner' if participant.win else 'loser' }}">
                            {% for column in match.columns %}
                                <td>{{ participant[column] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                
        {% endfor %}
    </div>
</body>
</html>
